body {
  background: #f0f0f0;
  color: #666666;
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#txtCaptchaDiv{
  margin:10px;
  padding:15px;
  background-color:#a0a0a0;
  border:2px ridge #e0e0e0;
  letter-spacing: 2px;
  font-size:20px;
  font-family:Comic Sans MS;
  font-style: italic;

}
#pcaptcha{
  margin-bottom:10px;
}
.form1 {
  width:90%;
  margin-left:25px;
  padding: 2em 2em 2em 2em;
  background: #fafafa;
  border: 1px solid #ebebeb;
  box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

/* container1 */
.container1 {
  position: relative;
  max-width: 60%;
  width: 100%;
  margin: 0 auto 100px;
  margin-bottom:25px; 
}
.container1.active .card1:first-child {
  background: #f2f2f2;
  margin: 0px;
}
.container1.active .card1:nth-child(2) {
  background: #fafafa;
  margin: 0px;
}
.container1.active .card1.alt {
  top: 20px;
  right: 0;
  width: 100%;
  min-width: 100%;
  height: auto;
  border-radius: 5px;
  padding: 60px 0px 40px;
  overflow: hidden;
}
.container1.active .card1.alt .toggle {
  position: absolute;
  top: 40px;
  right: -70px;
  box-shadow: none;
  -webkit-transform: scale(10);
  transform: scale(10);
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}
.container1.active .card1.alt .toggle:before {
  content: '\cf0f0';
}
.container1.active .card1.alt .title,
.container1.active .card1.alt .input-container1 {
  left: 0;
  opacity: 1;
  visibility: visible;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.container1.active .card1.alt .title {
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}
.container1.active .card1.alt .input-container1 {
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}
.container1.active .card1.alt .input-container1:nth-child(2) {
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}
.container1.active .card1.alt .input-container1:nth-child(3) {
  -webkit-transition-delay: .6s;
          transition-delay: .6s;
}

/* Card1 */
.card1 {
  position: relative;
  background: #3e3f40;
  border-radius: 5px;
  padding: 20px 0 20px 0;
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: .3s ease;
  transition: .3s ease;
  /* Title */
  /* Inputs */
  /* Button */
  /* Footer */
  /* Alt Card1 */
}
.card1:first-child {
  background: #fafafa;
  /* height: 10px; */
  border-radius: 5px 5px 0 0;
  margin: 0 10px;
  padding: 0;
}
.card1 .title {
  position: relative;
  z-index: 1;
  border-left: 5px solid #779c19;
 /* margin: 0 0 35px; */
  padding: 10px 0 10px 50px;
  color: #f0f0f0;
  font-size: 32px;
  font-weight: 300;
  text-transform: uppercase;
}
.card1 .input-container1 {
  position: relative;
  margin:10px 15px 5px 30px;;
}
.card1 .input-container1 input {
  outline: none;
  z-index: 1;
  position: relative;
  background: none;
  width: 100%;
  height: 40px;
  border: 0;
  color: #212121;
  font-size: 16px;
  font-weight: 400;
}
.card1 .radio1{
   position: absolute;
  background: #3e3f40;
  border-radius:none;
  padding: 0px;
  box-sizing: none;
  box-shadow: none;
  -webkit-transition:none;
  transition: none;
}
.card1 .input-container1 input:focus ~ label {
  color: #adadad;
  -webkit-transform: translate(-12%, -50%) scale(0.75);
          transform: translate(-12%, -50%) scale(0.75);
}
.card1 .input-container1 input:focus ~ .bar:before, .card1 .input-container1 input:focus ~ .bar:after {
  width: 50%;
}
.card1 .input-container1 input:valid ~ label {
  color: #9d9d9d;
  -webkit-transform: translate(-12%, -50%) scale(0.75);
          transform: translate(-12%, -50%) scale(0.75);
}
.card1 .input-container1 label {
  position: absolute;
  top: 0;
  left: 0;
  color: #757575;
  font-size: 16px;
  font-weight: 300;
  line-height: 40px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.card1 .input-container1 .bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #757575;
  width: 100%;
  height: 1px;
}
.card1 .input-container1 .bar:before, .card1 .input-container1 .bar:after {
  content: '';
  position: absolute;
  background: green;
  width: 0;
  height: 2px;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}
.card1 .input-container1 .bar:before {
  left: 50%;
}
.card1 .input-container1 .bar:after {
  right: 50%;
}

.card1 .footer {
  margin-top: 40px;
  color: red;
  font-size: 16px;
  font-weight: 300;

}
.card1 .footer a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.card1 .footer a:hover {
  color: #bababa;
}
.card1.alt {
  position: absolute;
  top: 40px;
  right: -70px;
  z-index: 10;
  width: 140px;
  height: 140px;
  background: none;
  border-radius: 100%;
  box-shadow: none;
  padding: 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  /* Toggle */
  /* Title */
  /* Input */
  /* Button */
}

.card1.alt .title,
.card1.alt .input-container1,
.card1.alt .button-container1 {
  left: 100px;
  opacity: 0;
  visibility: hidden;
}
.card1.alt .title {
  position: relative;
  border-color: #ffffff;
  color: #ffffff;
}
.card1.alt .title .close {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 60px;
  display: inline;
  color: blue;
  font-size: 58px;
  font-weight: 400;
}
.card1.alt .title .close:before {
  content: '\00d7';
}
.card1.alt .input-container1 input {
  color: #ffffff;
}
.card1.alt .input-container1 input:focus ~ label {
  color: #ffffff;
}
.card1.alt .input-container1 input:focus ~ .bar:before, .card1.alt .input-container1 input:focus ~ .bar:after {
  background: #ffffff;
}
.card1.alt .input-container1 input:valid ~ label {
  color: #ffffff;
}
.card1.alt .input-container1 label {
  color: rgba(255, 255, 255, 0.8);
}
.card1.alt .input-container1 .bar {
  background-color: rgba(255, 255, 255, 0.8);
}


/* Keyframes */
@-webkit-keyframes buttonFadeInUp {
  0% {
    bottom: 30px;
    opacity: 0;
  }
}
@keyframes buttonFadeInUp {
  0% {
    bottom: 30px;
    opacity: 0;
  }
}
